@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --heading: 202, 192, 179;
  --foreground-rgb: 92, 190, 46;
  --background-start-rgb: 0, 0, 0, 1;
  --background-end-rgb: 0, 0, 0, 1;
  --font-inter: "Inter";
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
.font-sans {
  font-family: var(--font-inter);
}
html,
body {
  min-height: 100vh;
  background-color: black;
  color: white;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.grainyBg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 18, 51, 1); */
}

.grainyBg:after {
  animation: grain 1s steps(10) infinite;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png); */
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -110%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.cursorPOinter {
  background: radial-gradient(
    600px at 672px 1090px,
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
}

@media screen and (max-width: 992px) {
  .pointerNone {
    display: none;
  }
}

.barDown {
  position: relative;
  text-decoration: none;
}

.barDown::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: rgba(92, 190, 46, 1);
  border-radius: 100vh;
  opacity: 0.8;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.3s ease;
}

.barDown:hover::before {
  background-color: rgba(92, 190, 46, 1);
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #5cbe2e;
}

::selection {
  color: black;
  background: #5cbe2e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .CustomHeading {
    @apply text-[#5CBE2E];
  }
  .CustomPara {
    @apply text-[#CAC0B3];
  }
  .CustomPara1 {
    @apply text-[#CAC0B3];
  }
  .CustomCarpanterCursor {
    @apply !cursor-[url('../../public/CarpanterImg.png'),_auto];
  }
  .CustomGymCursor {
    @apply !cursor-[url('../../public/GymBooyImg.png'),_auto];
  }
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
